<!doctype html>
<html lang="{{ site:short_locale }}" class="h-full">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{ title ?? site:name }}</title>
        {{ vite src="resources/js/site.js|resources/css/site.css" }}
    </head>

    <body
        x-data="{ mobileMenuToggle: false }"
        :class="mobileMenuToggle ? 'overflow-y-hidden' : ''"
        class="grid min-h-[100dvh] grid-flow-row bg-gray-100 font-body leading-normal text-gray-800"
    >
        <!-- Google Tag Manager (noscript) -->
        {{#
        <noscript
            ><iframe
                src="https://www.googletagmanager.com/ns.html?id=GTM-M7DHXQ7"
                height="0"
                width="0"
                style="display: none; visibility: hidden"
            ></iframe
        ></noscript>
        #}}
        <!-- End Google Tag Manager (noscript) -->
        {{ partial:nav }}
        <div
            aria-hidden="true"
            x-cloak
            class="!bg-black fixed w-screen h-[100dvh] z-10 opacity-80"
            x-show="mobileMenuToggle"
        ></div>
        <main>{{ template_content }}</main>
        {{ partial:footer }}
    </body>
</html>
