<div class="relative isolate overflow-hidden bg-inherit py-24 sm:py-32">
  <div
    class="absolute -top-80 left-[max(6rem,33%)] -z-10 transform-gpu blur-3xl sm:left-1/2 md:top-20 lg:ml-20 xl:top-3 xl:ml-56"
    aria-hidden="true"
  >
    <div
      class="aspect-[801/1036] w-[50.0625rem] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30"
      style="
        clip-path: polygon(
          63.1% 29.6%,
          100% 17.2%,
          76.7% 3.1%,
          48.4% 0.1%,
          44.6% 4.8%,
          54.5% 25.4%,
          59.8% 49.1%,
          55.3% 57.9%,
          44.5% 57.3%,
          27.8% 48%,
          35.1% 81.6%,
          0% 97.8%,
          39.3% 100%,
          35.3% 81.5%,
          97.2% 52.8%,
          63.1% 29.6%
        );
      "
    ></div>
  </div>
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:mt-10 lg:max-w-none lg:grid-cols-12">
      <div class="relative order-last lg:col-span-5">
        {{ partial:svg-bg-pattern }}
        <aside class="-ml-12 -mt-12 grid gap-6 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
          {{#
            {{ repeater }}
              {{ unless image:src == '' }}
                {{ responsive:image quality:webp="50" md:quality:webp="75" md:quality:webp="75" }}
              {{ /unless }}
            {{ /repeater }}
          #}}
        </aside>
      </div>
      <article class="prose max-w-xl text-base leading-7 text-gray-700 lg:col-span-7">
        <div
          style="background-color: #991b1b"
          class="grid items-center justify-center gap-x-6 bg-red-800 px-6 py-2.5 sm:px-3.5 sm:before:flex-1"
        >
          <p class="text-sm/6 text-white">
            After much consideration, I have made the difficult decision to close my practice. I want to express my deepest thanks for the
            privilege of being your podiatrist.
          </p>

          <p class="text-sm/6 text-white">
            I am so grateful for the trust you've placed in me. Helping you get back to the activities you love has been one of the most
            meaningful parts of my career. I truly value the relationships we've built. I look forward to the next chapter and hope our
            paths cross again in the future.
          </p>
        </div>
        {{#
          {{ map_url }}
          {{ content }}
        #}}
      </article>
    </div>
  </div>
</div>
