<nav class="bg-white shadow" x-data="{ openMenu: false }">
  <div class="mx-auto max-w-7xl px-2 md:px-6 lg:px-8">
    <div class="relative flex h-16 justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center md:hidden">
        <!-- Mobile menu button -->
        <button x-cloak @click="openMenu = !openMenu" @keydown.escape="open = false" type="button"
          class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
          aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <!--
            Icon when menu is closed.

            Heroicon name: outline/bars-3

            Menu open: "hidden", Menu closed: "block"
        -->
          <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <!--
            Icon when menu is open.

            Heroicon name: outline/x-mark

            Menu open: "block", Menu closed: "hidden"
        -->
          <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="flex flex-1 items-center justify-center md:items-stretch md:justify-start">
        <a href="{{ url }}" class="flex flex-shrink-0 items-center">
          serenity
          {{# {{ svg src="img/scalp-trade-logo_square-white-bg"
          class="w-12" }} #}}
        </a>
        <div class="hidden md:ml-6 md:flex md:space-x-8">
          {{ nav:collection:pages include_home="true" }}
          <a href="{{ url }}"
            class="inline-flex items-center border-transparent border-b-4 px-1 pt-1 text-base font-medium {{ if is_current || is_parent }} border-green-scalp text-gray-900 {{else}} text-gray-600 hover:border-green-scalp-light hover:text-gray-700{{ /if }}">{{
            title }}</a>
          {{ /nav:collection:pages }}
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div x-show="openMenu" class="md:hidden" id="mobile-menu">
    <div class="space-y-1 pb-4 pt-2">
      {{ nav:collection:pages include_home="true" }}
      <a href="{{ url }}"
        class="block border-l-4 border-transparent py-2 pl-3 pr-4 text-base font-medium text-gray-500 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-700 {{ if is_current || is_parent }} bg-indigo-50 border-indigo-500 text-indigo-700 {{ /if }}">{{
        title }}</a>
      {{ /nav:collection:pages }}
    </div>
  </div>
</nav>