<nav x-data="{ mobileMenuToggle: false }" class="sticky top-0 z-20 bg-white shadow">
    <div class="mx-auto my-3 max-w-7xl px-2 sm:px-4 lg:px-8">
        <div class="flex h-16 justify-between">
            <div class="flex items-center px-2 lg:px-0">
                <a href="/" class="flex flex-shrink-0 items-center">
                    {{ svg src="logo_sids_icon" class="h-14 w-auto" }}</a>
                <div class="hidden h-min items-baseline lg:ml-6 lg:flex lg:space-x-8">
                    {{ nav:collection:pages include_home="true" max_depth="3" }} {{ unless
                    children }} {{ if remove_from_navigation == false }}
                    <a href="{{ url }}"
                        class="inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium {{ is_current ? 'border-blue-sids text-gray-900 hover:border-indigo-500' : 'border-transparent hover:border-gray-300 hover:text-gray-700' }}">
                        <p class="text-base font-medium text-gray-900">
                            {{ title }}
                        </p>
                    </a>
                    {{ /if }} {{ else }}
                    <div x-data="{ {{ slug | camelize }}: false }" class="relative">
                        <button x-on:click="{{ slug | camelize }} = !{{ slug | camelize }}" type="button"
                            class="group inline-flex items-center rounded-md bg-white text-base font-medium text-gray-500 hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
                            aria-expanded="false">
                            <span>{{ title }}</span>
                            <svg class="ml-2 h-5 w-5 text-gray-400 group-hover:text-gray-500"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                    clip-rule="evenodd" />
                            </svg>
                        </button>
                        <div x-cloak x-show="{{ slug | camelize }}" @click.outside="{{ slug | camelize }} = false"
                            class="absolute z-10 -ml-4 mt-3 w-screen max-w-md transform px-2 sm:px-0 lg:left-1/2 lg:ml-0 lg:-translate-x-1/2">
                            <div class="overflow-hidden rounded-lg shadow-lg ring-1 ring-black ring-opacity-5">
                                <div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">
                                    <a href="{{ url }}" class="-m-3 flex items-start rounded-lg p-3 hover:bg-gray-50">
                                        <p class="text-base font-medium text-gray-900">
                                            {{ title }}
                                        </p>
                                    </a>
                                    {{ *recursive children* }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ /unless }} {{ /nav:collection:pages }}
                </div>
            </div>
            <a href="/donate"
                class="inline-flex h-min items-center self-center rounded-md border border-transparent bg-blue-sids px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                Donate Now
            </a>
            <div class="flex items-center lg:hidden">
                <button x-on:click="mobileMenuToggle = !mobileMenuToggle" type="button"
                    class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
                    aria-controls="mobile-menu" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                    <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="lg:hidden" id="mobile-menu">
        <div x-show="mobileMenuToggle" class="space-y-1 pb-3 pt-2">
            {{ nav:collection:pages include_home="true" max_depth="3" }}
                {{ unless children }}
                    {{ if remove_from_navigation == false }}
                    <a href="{{ url }}"
                        class="block pl-3 pr-3.5 py-2 text-base font-semibold leading-7 {{ is_current ? 'bg-indigo-50 border-indigo-500 text-indigo-700' : 'border-transparent hover:bg-gray-50 hover:border-gray-300 hover:text-gray-800' }}">
                        {{ title }}
                    </a>
                    {{ /if }}
                {{ else }}
                    <div x-data="{ {{ slug | camelize }}: false }">
                        <button x-on:click="{{ slug | camelize }} = !{{ slug | camelize }}" type="button"
                            class="flex w-full items-center justify-between rounded-lg py-2 pl-3 pr-3.5 text-base font-semibold leading-7 hover:bg-gray-50"
                            aria-controls="disclosure-1" aria-expanded="false">
                            {{ title }}
                            <!--
                                    Expand/collapse icon, toggle classes based on menu open state.

                                    Open: "rotate-180", Closed: ""
                                    -->
                            <svg class="h-5 w-5 flex-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                    clip-rule="evenodd" />
                            </svg>
                        </button>

                        <div class="mt-2 space-y-2" id="disclosure-1" x-cloak x-show="{{ slug | camelize }}">
                            <a href="{{ url }}"
                                class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50">{{
                                title }}</a>
                                {{ *recursive children* }}
                        </div>
                    </div>
                {{ /unless }}
            {{ /nav:collection:pages }}
        </div>
    </div>
</nav>